.layout {
    display: grid;
    grid-template-columns: 16px 1fr 4px 1fr 0px;
    grid-template-rows: 16px 42px 16px 1fr 100px;
}

.header {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    border-bottom: 1px solid #eee;
}

.header-content {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}

.header-content > h4 {
    padding: 0;
    margin: 0;
}

.left-side {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.left-side h5, .left-side h6 {
    font-weight: 600;
}

.center {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.right-side {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.CodeMirror {
    font-size: 16px;
}

html {
    font-size: 12px;
}

body {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
