.layout {
    display: grid;
    grid-template-columns: 16px 1fr 4px 1fr 0px;
    grid-template-rows: 16px 42px 16px 1fr 0px;
}

.header {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0px;
    opacity: 0.5;
    background-color: white;
    z-index: 10;
}

.header-content {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    position: sticky;
    top: 16px;
    z-index: 11;
}

.control-panel {
    grid-row: 2 / 3;
    grid-column: -3 / -2;
    text-align: right;
    position: sticky;
    top: 16px;
    z-index: 11;
}

.header-content > h4 {
    padding: 0;
    margin: 0;
}

.top-link {
    text-decoration: none;
    color: #222;
}

.spread {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
}

.left-side {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    /* display: grid;                */
    /* grid-template-columns: 1fr;   */
    /* grid-template-rows: 1fr 48px; */
}

.article {
    /* grid-row: 1 / 2; */
    /* grid-column: 1 / -1; */
    min-height: 480px;
}

.pager {
    /* grid-row: -2 / -1;   */
    /* grid-column: 1 / -1; */
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px 0;
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
    background-color: rgba(255, 255, 255, 0.5)
}

.link {
    font-weight: 600;
}

.disabled {
    color: #aaaaaa;
}

.page-number {
    display: inline-block;
    width: 3rem;
}

.left-side h5, .left-side h6 {
    font-weight: 600;
}

.center {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.right-side {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.right-side > div {
    position: sticky;
    top: 74px;
}

#code-editor {
    /* z-index: -1; */
}

.CodeMirror {
    font-size: 16px;
    /* z-index: -1; */
    height: 400px;
}

code {
    font-size: 100%;
}

html {
    font-size: 11px;
    overflow-y: scroll;
}

body {
    font-family: 'Raleway', 'Noto Sans Japanese', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
